@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,300;1,900&family=The+Nautigal:wght@400;700&display=swap');
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 transition: all linear .4s;
 text-decoration: none;
 font-family: 'Poppins', sans-serif;
}
*::selection{
  background: #d65696;
  color: #fff;
 }
html{
 font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
body{
  background: #fc00ff;  
background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  
background: linear-gradient(to right, #00dbde, #fc00ff); 
}
  
.heading{
  font-weight: 900;
  text-align: center;
  font-size: 4.4rem;
  padding: 4rem;
  background-color:#080200;
  background-image: linear-gradient(to top,#c54da7 0%,#ff98d1 60%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color:transparent;
  -moz-text-fill-color:transparent;
}
.btn{
  margin-left: 2rem;
  font-size: 1.7rem;
  display: inline-block;
  border: .2rem solid #b6489e9a;
  padding: .8rem 3rem;
  cursor: pointer;
  color: #fcfaf0;
  border-radius: .7rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;

}
.btn::before{
    
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background:#d65696 ;
  transition: .4s linear;
  z-index: -1;
}
.btn:hover::before{
 
width: 100%;
left: 0;
}

section{
padding: 2rem 9%;
}
header{
  background: #fc00ff;  
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  
  background: linear-gradient(to right, #00dbde, #fc00ff); 
 height: 7rem;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 display: flex;
 z-index: 1000;
 align-items: center;
 justify-content: space-between;

 padding: 2rem 9%;
 box-shadow: 0 .5rem 1rem rgba(174, 172, 172, 0.125);
}
header .logo{
 font-size: 2rem;
 font-weight: bolder;
 color:#fcfaf0;
 font-family: 'Pacifico', cursive;
 
}
header .logo img{
 height: 2.3rem;
 width: 2.3rem;
}

header .navbar a{
  font-weight: 900;
 font-size: 1.5rem;
 margin-left: 2rem;
 color:#f8fcf0;
 transition: all .3s ease-in;
}
header .navbar a:hover{
 color: #d65696;
}
header .icons{
  cursor: pointer;
 font-size: 2rem;
 display: flex;
 padding: 1rem;
 color:#fcfaf0 ;
}
header .icons .create{
  padding: 1rem;
 margin-left: 2rem;
}
header .icons .create:hover{
  color: #fc73b7;
}
header .icons a{
  font-size: 1.7rem;
  padding: 1rem;
  border-radius: .6rem;
  color: #fcfaf0;
  background: #ee5dee;
}
header .icons #menu-btn{
    cursor: pointer;
    border: .1rem groove #fcfaf0;
    border-radius: .3rem;
    padding: 1rem;
    display: none;
  
}
header .search-form{
  padding: .2em;
  position: absolute;
  top: 115%;
  right: 6%;
  background:#87c7fc;
  width: 40rem;
  height: 1;
  display: flex;
  align-items: center;
 transform: scaleY(0);
  transform-origin:top;
  transition: .6s ease;

}
header .search-form.active{
transform: scaleY(1);
}
header .search-form input{
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  background: #ffa9d4;
  color: #fff4f9;
  padding: 1rem;
  text-transform: capitalize;
}
header .search-form label{
  cursor: pointer;
  font-size: 1rem;
  margin-right: 1.5rem;
  padding: .3rem;
}
header .search-form label:hover{
  color: var(--main-color);
}



.home{
  margin-bottom:3rem ;
 display: flex;
 flex-wrap: wrap;
 gap: 1.5rem;
 min-height: 100vh;
 align-items: center;
}

.home .content{
 flex: 1 1 35rem;
}
.home .content h3{
  font-weight: bolder;
  font-size: 4rem;
  padding: 2rem;
  line-height: 6rem;
  background-color:#080200;
background-image: linear-gradient(to top,#000000 0%,#eb51ff 60%);
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color:transparent;
-moz-text-fill-color:transparent;
}
.home .content p{
  padding: .5rem 6%;
  font-size: 1rem;
  color: #fc73b7;
  font-weight: 700;
}

.home .image{
 flex: 1 1 50rem;
}
.home .content p{
  font-size: 2rem;
  color: #9a00a8;
  margin-left: -.5rem;
}
.home .image img{
 height: 100%;
 width: 100%;
 padding: .5rem;

}
.Explore .arrow{
  display: flex;
  padding: .5rem;
  ;
 

}
.Explore .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.Explore .box{
  flex-direction: column;
  flex: 1 1 20rem;
  margin: 3rem;
  padding: 1rem;
  background: #43004659;
  border: .1rem solid var(--yellow);
  box-shadow: 0 .5rem 1rem rgba(174, 172, 172, 0.125);
  border-radius: .5rem;
  text-align: center;
  position: relative;
}
.Explore .box img{
  top: 0;
  height: 25rem;
  width: 100%;
  object-fit: cover;
  border-radius: .5rem;
}
.Explore .box .likes{
  position: absolute;
  font-weight: bold;
  top: 3rem;
  right: 1.1rem;
  border-radius:0 .5rem 0 .5rem;
  padding: .5rem;
  font-size: 2rem;
  color: #9a00a8;
  background:#fff ;
}
.Explore .box .like{
  cursor: pointer;
  position: absolute;
  font-weight: bold;
  top: 3rem;
  right: 4.2rem;
  border-radius: .5rem 0 0 .5rem;
  padding: .5rem;
  font-size: 2rem;
  color: #9a00a8;
  background:#fff ;
}
.Explore .box .like:hover{
  color: #d65696;
  font-size: 2.1rem;
  padding: .5rem;
}
.Explore .box .days{
  position: relative;
  background: #fff;
  padding: .6rem;
  font-size: 1.4rem;
  text-align: center;
  top:24rem;
  border-radius: .4rem;


}
.Explore .box .days span{
  color: #fa3698;
  font-weight: bolder;
}
.Explore .box .h3{
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  
}
.Explore .box .h3 .h5{
  margin-top: .5rem;
  font-size: 1.4rem;
  color: #fff;
}
.Explore .box .h3 .art{
  font-size: 1.1rem;
  border-radius: .6rem;
  color: #fff;
  background: #fa3698;
  padding: 1rem;
}
.Explore .box .img-container{
  padding: .2rem;
  display: flex;
  justify-content: space-between;
   
}
.Explore .box .img-container img{
  height: 4rem;
  width: 4rem;
  object-fit: cover;
  border-radius: .9rem;

}
.Explore .box .img-container .creator{
  justify-content: space-between;
  font-size: .9rem;
  line-height: 2rem;
  color: #ffa7d3;
  padding-right: 5rem;
  padding-bottom: .3rem;
}
.Explore .box .img-container .eth{
  color: #fff;
  justify-content: space-between;
  font-size: .9rem;
  line-height: 2rem;
  padding-bottom: .3rem;
}



.activity .box-container{
  
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
  }
  .activity .box-container .box{
    flex: 1 1 20rem;
    padding: .2rem;
    text-align: center;
    position: relative;
  }
  .activity .box-container .box .img-container{
    padding: .2rem;
    display: flex;
     
  }
  .activity .box-container .box .img-container img{
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    border-radius:40%;
    border: 3px solid #fa3698;
  
  }
  
  .activity  .box-container .box .img-container .creator{
    justify-content: space-between;
    font-size: 1.1rem;
    line-height: 3rem;
    color: #640057;
  padding-left: 2rem;
  } 


  .menu .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .menu .box-container .box{
    flex: 1 1 20rem;
    padding: 1rem;
    background: #43004659;
    border: .1rem solid var(--yellow);
    box-shadow: 0 .5rem 1rem rgba(174, 172, 172, 0.125);
    border-radius: .5rem;
    text-align: center;
    position: relative;
  }
  .menu .box-container .box img{
    top: 0;
    height: 25rem;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
  }
  .menu .box-container .box .likes{
    position: absolute;
    font-weight: bold;
    top: 3rem;
    right: 1.1rem;
    border-radius:0 .5rem 0 .5rem;
    padding: .5rem;
    font-size: 2rem;
    color: #9a00a8;
    background:#fff ;
  }
  .menu .box-container .box .like{
    cursor: pointer;
    position: absolute;
    font-weight: bold;
    top: 3rem;
    right: 4.2rem;
    border-radius: .5rem 0 0 .5rem;
    padding: .5rem;
    font-size: 2rem;
    color: #9a00a8;
    background:#fff ;
  }
  .menu .box-container .box .like:hover{
    color: #d65696;
    font-size: 2.1rem;
    padding: .5rem;
  }
  .menu .box-container .box .days{
    position: relative;
    background: #fff;
    padding: .6rem;
    font-size: 1.4rem;
    text-align: center;
    top:24rem;
    border-radius: .4rem;
  
  
  }
  .menu .box-container .box .days span{
    color: #fa3698;
    font-weight: bolder;
  }
  .menu .box-container .box .h3{
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
  }
  .menu .box-container .box .h3 .h5{
    margin-top: .5rem;
    font-size: 1.4rem;
    color: #fff;
  }
  .menu .box-container .box .h3 .art{
    font-size: 1.1rem;
    border-radius: .6rem;
    color: #fff;
    background: #fa3698;
    padding: 1rem;
  }
  .menu .box-container .box .img-container{
    padding: .2rem;
    display: flex;
    justify-content: space-between;
     
  }
  .menu .box-container .box .img-container img{
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    border-radius: .9rem;
  
  
  }
  .menu .box-container .box .img-container .creator{
    justify-content: space-between;
    font-size: .9rem;
    line-height: 2rem;
    color: #ffa7d3;
    padding-right: 4rem;
   
  }
  .menu .box-container .box .img-container .eth{
    color: #fff;
    justify-content: space-between;
    font-size: .9rem;
    line-height: 2rem;
   
  }
  .menu .box-container .box .place{
    display: flex;
    justify-content: space-between;
    padding: .3rem;
  }
  .menu .box-container .box .place .btns{
    font-size: 1.2rem;
    border: .2rem solid #b6489e9a;
    padding: .8rem;
    cursor: pointer;
    color: #fcfaf0;
    border-radius: .7rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
  
  }
  .menu .box-container .box .place .btns::before{
      
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background:#d65696 ;
    transition: .4s linear;
    z-index: -1;
  }
  .menu .box-container .box .place .btns:hover::before{
   
  width: 100%;
  left: 0;
  }
  .menu .box-container .box .place p{
    margin-top: 1.6rem;
  font-size: 1.7rem;
  color: #d65696;
  cursor: pointer;
  }

  .popular .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }
  
  .popular .box-container .box{
    flex: 1 1 20rem;
    box-shadow: 0 .5rem 1rem rgba(174, 172, 172, 0.125);
    border-radius: .5rem;
    text-align: center;
    position: relative;
  }
  .popular .box-container .box img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
  .popular .box-container .box .img-container{
    border-radius: .9rem;
    padding: 1rem;
    display: flex;
    bottom: 9rem;
    position: relative;
    height: 9rem;
    background: #5f5f5fd5;
  }
  .popular .box-container .box .img-container img{
    height: 6rem;
    width: 6rem;
    border-radius: 7rem;
  }
  .popular .box-container .box .img-container .para{
    padding-left: 2rem;
    display: block;
    line-height: 3rem;
    font-size: 1.4rem;
    color: #fcddf8;
  }

.sell .box-container{
  display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.sell .box-container .box{
  background: #43004659;
 border: 2px groove #ff00aa69;
  padding: 1rem;
  flex: 1 1 20rem;
  box-shadow: 0 .5rem 1rem rgba(174, 172, 172, 0.125);
  border-radius: .5rem;
  text-align: center;
  position: relative;
}
.sell .box-container .box img{
  border-radius: .5rem;
  padding: .5rem;
height: 6rem;
width: 6rem;

}
.sell .box-container .box h4{
  color: #f8fcf0;
  font-size: 2rem;
  padding: .5rem;
}
.sell .box-container .box h5{
  color: #e900af;
  font-size: 1rem;
  padding: .2rem;
}
footer{
  border-top: 3px solid #fc00ff;
  background: #fc00ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 2rem 9%;
  
  
}
.footer .navi{
  display: flex;
  justify-content: space-between;
}
footer .navi .logo{
  font-size: 2rem;
  font-weight: bolder;
  color:#fcfaf0;
  font-family: 'Pacifico', cursive;
  
 }
 footer .navi .logo img{
  height: 2.3rem;
  width: 2.3rem;
 }
.footer .navi a{
  font-weight: bolder;
  font-size: 2rem;
  color: #fff4f9;
}
footer .fots{

  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.footer .fots .social{

  display: flex;
  padding: .5rem;
}
.footer .fots .social i{
  cursor: pointer;
  padding: 1rem;
  font-size: 2rem;
  color: #ee35a1;
}
.footer .fots .artwork{
 margin-left: 14rem;
  
}
.footer .fots .artwork a{
  color: #fc73b7;
  display: block;
  line-height: 4rem;
  font-size: 2rem;
}
.footer .fots .navs{
  margin-left: 37rem;
}
.footer .fots .navs a{
  font-weight: 700;
  color: #fa3698;
  display: block;
  line-height: 4rem;
  font-size: 2rem;
}
.footer .fots .inp{
  margin-left: 16rem;
  display: block;
  line-height: 4rem;
}
.footer .fots .inp input{
  font-weight: 800;
  border-radius: .9rem;
  border: 1px solid #ff98d1;
  height: 6rem;
  width: 25rem;
}
.footer .copy{
  text-align: center;
  border-top: 1px solid #fcfaf0;
  
}
.footer .copy p{
  padding: .6rem;
  font-size: 2rem;
  font-weight: bolder;
}

@media screen and (max-width:990px) {
  section{
    padding: 2rem;
  }

  html{
    font-size: 50%;
  }
  header{
    padding: 2rem;
    height: 6.8rem;
  }
header .icons #menu-btn{
  display: initial;
}


header .navbar{
    height: 500%;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fc00ff;  
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  
    background: linear-gradient(to right, #00dbde, #fc00ff); 
    border-top: .1rem solid rgba(0, 0, 0, 0.1) ;
    clip-path: polygon(0 0,100% 0,100% 0, 100% 0,0 0);
    transition: .5s ease;


}

header .navbar.active{
clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
header .navbar a{
  font-size: 1.4rem;
   color: #fc73b7;
    margin: 1rem;
    padding: 1rem;
    display: block;
   text-align: center;
    border-left: 1rem solid #fff;
    background: white;
    transition: .4s ease-in;
    border-radius: .4rem;
}
header .navbar a:hover{
    background:#ee5dee;
    color: #fff;
    border-left: .5rem solid #a9ddff;
 

}
}
@media screen and (max-width:880px){
  html{
    font-size: 55%;
  }
  .footer .navi{
    display: block;
  }
  .footer .navi a{
    display: block;
    line-height: 5rem;
  }
  .footer .fots{
    display: none;
  }
}
@media screen and (max-width:480px){
  .Explore .box{
    margin: 1rem;
  }
}